*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
**/*.iml
**/node_modules

bin/
gen/
build/
**/.idea
.settings/
proguard/
local.properties

service_account.json
.firebaserc